$kolor1: green;
$center: 'text-center';
$lista1: red, yellow, blue, orange;
$align:(
  'l': left,
  'c': center,
  'r': right
);
@mixin a($kolor){
  text-align: center;
  color: $kolor;
  text-decoration: underline;
}

.klasa{
  height: 100px;
  width: 100px;
  text-align: map-get($align, c);
  background-color: aqua;
  color: $kolor1;
  text-decoration-color: blue;
  align-content: center;
}
li {
  @include a(nth($lista1, 4));
}
#unikalneid {
  width: 400px;
  height: 500px;
  .#{$center}{
    text-align: center;
  }
  background-color: yellow;
}
.parent{
  width: 200px;
  height: 200px;
  background-color: orange;
  color: red;
  p{
    color: blue;
  }
  p + p{
    color: green;
  }
}
.pudelka{
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  padding: 10px;
  border: 3px solid;
  margin: 10px;
  background-color: aquamarine;
  color: black;
  font-size: 20px;
  text-decoration: underline;
}
.naglowek{
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0px;
  background-color: lightgreen;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  color: black;
  display: flex;
  .przycisk{
    box-sizing: border-box;
    padding: 2px;
    height: 50px;
    background-color: lightgreen;
    border: 2px solid;
    border-color: green;
    padding:10px;
  }
  .przycisk:hover{
    background-color: lightblue;
  }
}
.absolut{
  background-color: aqua;
  text-align: center;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
}
.stopka{
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  background-color: lightgreen;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  color: black;
}
.kontener{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  div{
    width: 300px;
  }
  .niebieski{
    background: blue;
    min-height: 200px;
  }
  .czerwony{
    background: red;
    min-height: 300px;
  }
  .zielony{
    background: green;
    min-height: 400px;
  }
}
